# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2
indent_style = space

## Only add differences from default

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{ini,py,rst,sh}]
indent_size = 4

[*.{yml,yaml,yml.j2}]
insert_final_newline=false
